.post-card {
  display: flex; /* Enables flexbox */
  border: 1px solid #ccc;
  width: 100%;
  background-color: var(--white);
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.selected-answer-card {
  border: 1px solid var(--purple80);
  display: flex; /* Enables flexbox */
  align-items: center; /* Centers items vertically */
  width: 100%;
  background-color: var(--purple10);
}

.question {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 16px 0px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.answer {
  border-bottom: 1.5px solid #ddd;
  margin: 5px 0;
}

.post-body {
  gap: 3px;
  padding: 16px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.post-title {
  font-size: 18px;
  margin: 0px;
}

.post-content {
  font-size: 14px;
  color: #555;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.collapsed-content {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  background-color: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  /* max-height: 30px; */
  line-clamp: 3;
  -webkit-line-clamp: 3;
  text-overflow: clip;
  -webkit-box-orient: vertical;
}

.post-info {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  color: var(--gray80);
}

.username {
  font-weight: bold;
  margin-right: 8px;
}

.comment-username {
  font-weight: bold;
  margin-right: 8px;
  font-size: x-small;
}

.score {
  font-size: 20px;
}

.timestamp {
  color: var(--gray80);
}

.comment-timestamp {
  color: var(--gray80);
  font-size: x-small;
}

.vote-buttons {
  width: 60px;
  max-width: 60px;
  min-width: 60px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
}

.tags-box {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  font-size: 11px;
  padding: 4px 4px;
  margin: 2px 2px;
  border-radius: 4px;
  background-color: var(--purple40);
  color: var(--black);
  text-wrap: nowrap;
  cursor: pointer;
}

.score {
  font-family: Arial;
}

.unselected-checkmark {
  font-size: 42px;
  color: var(--purple40);
}

.selected-checkmark {
  font-size: 42px;
  color: var(--purple);
}

.enabled {
  cursor: pointer;
}

.enabled:hover {
  color: var(--purple80);
}

.author-panel {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.edit-link {
  padding-right: 10px;
  cursor: pointer;
  color: var(--purple120);
}

.edit-link:hover {
  color: var(--purple80);
}

.delete-link {
  cursor: pointer;
  color: red;
}

.delete-link:hover {
  color: darkred;
}

.clickable-question {
  cursor: pointer;
}

.clickable-question:hover {
  background-color: var(--gray10);
}

.clickable-question:active {
  background-color: var(--gray20);
}

.post-card-body {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centers items vertically */
  flex-grow: 1;
  width: 100%;
}

.post-comments { 
  border-radius: 1px;
  background-color: var(--gray10);
  padding: 10px 0 0 0;
  width: 100%;
  padding-bottom: 0px;
  font-size: 14px;
  display: flex;
}

.comments-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1  ;
}

.comment {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 97%;
}

.small-p {
  margin: 3px;
}

.comment-info {
  white-space: nowrap;
}
/*.comment-username {*/
/*  font-weight: bold;*/
/*  margin-right: 10px;*/
/*}*/

/*.comment-timestamp {*/
/*  color: #999;*/
/*}*/

.comment-content {
  padding: 5px;
  font-size: 12px;
}

.comment-input {
  margin-top: 10px;
}

.post-comment-area {
  display: flex;
  width: 97%;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row;
}

textarea {
  width: 97%;
  height: 19px;
  resize: none;
  padding: 5px;
  flex-grow: 1;
}
