body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --white: #fff;
  --black: #000;
  --gray10: #f1f1f1;
  --gray20: #e2e2e2;
  --gray40: #c5c5c5;
  --gray60: #a9a9a9;
  --gray80: #8c8c8c;
  --gray: #575757;
  --purple10: #f8e8f3;
  --purple20: #efd0e3;
  --purple40: #dc9ec9;
  --purple60: #ca6cae;
  --purple80: #b73b92;
  --purple: #a7117a;
  --purple120: #8c0a59;
}

.logout-icon {
  margin-right: 0;
  padding: 1em;
  width: 3em;
  height: 3em;
}

.eth-logo {
  padding: 1em;
  height: 3em;
  margin-left: 0;
}

.header-title {
  margin-left: 0;
  font-size: 3em;
  font-weight: normal;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ETHoverflow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
