.home-page {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template: 2em 2em 2em / 1fr 1fr 1fr 1fr; /*three rows, two columns*/
  column-gap: 2em;
  row-gap: 2em;
}

.vote-toggle {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.question-list {
  margin: 20px 0;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination-controls button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-controls button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.searchBar {
  grid-column: 1/4;
  grid-row: 1;
  width: auto;
}
.tagBar {
  width: auto;
  grid-column: 1/3;
  grid-row: 2;
}
.create-question {
  grid-column: 4;
  grid-row: 1;
}
.create-question button {
  background-color: #a7117a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.create-question button:hover {
  background-color: #8c0a59;
}
.createButton {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  color: black;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sortToggle {
  grid-column: 3;
  grid-row: 2;
}
.answeredToggle {
  grid-column: 4;
  grid-row: 2;
}

.gridbox {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  align-self: stretch;
  justify-self: stretch;
}
