.home-page {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template: 2em 2em 2em / 2fr 1fr; /*three rows, two columns*/
  gap: 0.5em;
}

.vote-toggle {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.create-question {
  text-align: right;
  margin: 20px 0;
}

.create-question button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-question button:hover {
  background-color: #218838;
}

.question-list {
  margin: 20px 0;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination-controls button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-controls button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}
.Bars {
  width: 70%;
  grid-column: 1;
}
.create-question {
  width: auto;
  grid-column: 2;
}
.filters {
  width: auto;
  grid-column: 1;
}
