/* src/styles/ToggleButton.css */

.toggle-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2px;
  gap: 2px;
  /*width: min-content;*/
  border: 1px solid var(--gray60);
  border-radius: 5px;
}

.toggle-button {
  padding: 10px;
  /*margin: 1px;*/
  border: none;
  border-radius: 5px;
  /* flex-basis: 15%; */
  /* min-width: 15%; */
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  transition: opacity 0.3s ease;
  flex: 1;
}

.toggle-button:hover {
  background-color: var(--purple40);
}

.toggle-button.dimmed {
  background-color: var(--purple80);
  color: var(--white);
}
